/* General Styles */

h1 {
    margin: 20px auto;
    width: 75%;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

h2 {
    margin-left: 10px;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

p {
    margin: 20px 10px;
}

.container {
    display: block;
    border: 1px solid gray;
    width: 75%;
    height: fit-content;
    margin: 20px auto;
}

/* color section styles */

.color-container {
    display: block;
    margin: auto 10px;
    height: fit-content;
}

.color-panel {
    display: inline-block;
    width: 32%;
    height: 100px;
    margin: 20px auto;
    padding: 20px auto;
    box-sizing: border-box;
    text-align: center;
}

.salmon {
    background-color: #EDC7B7;
}

.tan {
    background-color: #EEE2DC;
}

.brown-grey {
    background-color: #BAB2B5;
}

.dark-blue {
    background-color: #123C69;
}

.dark-pink {
    background-color: #AC3B61;
}

/*fonts section styles */

.fonts-container {
    display: block;
    margin: auto 10px;
    height: fit-content;
}

.font-panel h3 {
    text-decoration: underline;
}

.roboto {
    font-family: 'Roboto', sans serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.source-code {
    font-family: 'Source Code Pro', monospace;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: 700;
}

/* text-style rules */



.textsty-container h1 {
    margin: 20px 10px;
}